<div class="header">
  <h2>Customer Dashboard</h2>
  <button (click)="logout()">Logout</button>
</div>

<div class="container">

  <!-- Loading -->
 <div *ngIf="loading" class="text-center mt-4">
  Loading plans...
</div>

<div *ngIf="!loading">
  <div *ngIf="plans.length === 0">
    No plans available.
  </div>

  <div class="plans">
    <div class="card" *ngFor="let plan of plans">
      <h3>{{ plan.name }}</h3>
      <p><strong>Premium:</strong> ₹{{ plan.premium }}</p>
      <p><strong>Coverage:</strong> ₹{{ plan.coverage }}</p>
      <p><strong>Duration:</strong> {{ plan.durationMonths }} months</p>

      <button
        (click)="subscribe(plan._id)"
        [disabled]="currentUser?.subscribedPlan">
        Subscribe
      </button>
    </div>
  </div>
</div>

</div>